{% extends 'modal-base.html' %}
{% block modal-trigger-widget %}
    <button class="btn btn-outline-primary mr-2 my-sm-0" type="button" data-toggle="modal"
            data-target="#{{ modal_id }}">
        <i class="bi bi-box-arrow-in-right"></i>
        Autentificare
    </button>
{% endblock %}
{% block modal-header %}
    <h5 class="modal-title" id="exampleModalLongTitle">Autentificare</h5>
{% endblock %}
{% block modal-body %}
    {% include 'registration/login.html' %}
{% endblock %}
{% block modal-footer %}
    <button onclick="submitLogin();" class="btn btn-outline-success">Autentificare</button>
    <a class="password-reset-link px-3" href="{% url 'password_reset' %}">Resetează parola</a>
{% endblock %}