{% extends 'base.html' %}
{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}
{% block title %}
    Autentificare
{% endblock %}
{% block css_js %}
    <style>
        body {
            background-image: url("https://images.unsplash.com/photo-1509822929063-6b6cfc9b42f2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
    <script>
        function show_hide_password(passwordInput, show, hide) {
            if (passwordInput.attr('type') === 'password') {
                show.hide();
                hide.show();
                passwordInput.attr('type', 'text');
            } else {
                show.show();
                hide.hide();
                passwordInput.attr('type', 'password');
            }
        }

    </script>
{% endblock %}
{% block content %}
    {% if not user.is_authenticated %}
        <div class="container d-flex flex-column justify-content-center bg-white border rounded my-5 pt-1 px-3 pb-3">
            <div class="col-sm-12">
                <h1 class="card-title">Sign in</h1>
                {% if login_message %}
                    <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
                        {{ login_message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
                <form id="loginForm" class="col-12 my-auto needs-validation" method="post" action="{% url 'login' %}"
                      style="opacity: 100%">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="emailInput">Email</label>
                        <div class="input-group w-50">
                            <span class="input-group-text mt-0" id="basic-addon1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-person" viewBox="0 0 16 16">
                                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"></path>
                                </svg>
                            </span>
                            <input name="username" type="email" class="form-control" id="emailInput"
                                   aria-describedby="emailHelp"
                                   placeholder="Email" required/>
                        </div>
                        {% if form.username.errors %}
                            <div class="alert alert-danger mt-2">
                                {% for error in form.username.errors %}
                                    <strong>{{ error }}</strong>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="passwordInput">Password</label>
                        <div class="input-group w-50">
                            <span class="input-group-text" id="basic-addon1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-lock" viewBox="0 0 16 16">
                              <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"></path>
                            </svg>
                          </span>
                            <input name="password" type="password" class="form-control" id="passwordInput"
                                   placeholder="Parola" required/>
                            <button type="button" class="btn btn-warning"
                                    style=":focus {outline: none;  box-shadow: none;}"
                                    onclick="this.blur(); show_hide_password($('#passwordInput'),$('#show-icon'),$('#hide-icon'));">
                                <svg id="show-icon" xmlns="http://www.w3.org/2000/svg" width="16"
                                     height="16"
                                     fill="currentColor"
                                     class="bi bi-eye" viewBox="0 0 16 16">
                                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"></path>
                                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"></path>
                                </svg>
                                <svg id="hide-icon" style="display: none;" xmlns="http://www.w3.org/2000/svg" width="16"
                                     height="16"
                                     fill="currentColor"
                                     class="bi bi-eye-slash" viewBox="0 0 16 16">
                                    <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"></path>
                                    <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"></path>
                                    <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z"></path>
                                </svg>
                            </button>
                        </div>
                        {% if form.password.errors %}
                            <div class="alert alert-danger mt-2">
                                {% for error in form.password.errors %}
                                    <strong>{{ error }}</strong>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="inline-group">
                        <button type="submit" class="btn btn-primary">Autentifică</button>
                        <a class="password-reset-link px-3" href="{% url 'password_reset' %}">Resetează parola</a>
                    </div>
                </form>
                {% if form.non_field_errors %}
                    <div class="alert alert-danger mt-2">
                        {% for error in form.non_field_errors %}
                            <strong>{{ error|escape }}</strong>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    {% else %}
        <meta http-equiv="REFRESH" content="0;url={% url 'home' %}">
    {% endif %}
{% endblock %}
