{% extends 'base.html' %}
{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}
{% block title %}
    Login
{% endblock %}
{% block css_js %}
    <style>
        body {
            background-image: url("https://images.unsplash.com/photo-1509822929063-6b6cfc9b42f2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
            background-repeat: no-repeat;
            background-size: cover;
        }

        div.container {
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container d-flex flex-column justify-content-center bg-white border rounded my-5 pt-1 px-3 pb-3">
        <div class="col-sm-12">
            <h1 class="card-title">Password reset sent</h1>
            <div class="alert alert-success fade show mt-2" role="alert">
                <strong style="font-size: large;">We’ve emailed you instructions for setting your password, if an
                    account exists with the email
                    you
                    entered. You should receive them shortly.</strong>
            </div>
            <div class="alert alert-warning fade show mt-2" role="alert">
                <strong style="font-size: large;">If you don’t receive an email, please make sure you’ve entered the
                    address you registered with,
                    and
                    check your spam folder.</strong>
            </div>
        </div>
    </div>
{% endblock %}

