{% extends 'base.html' %}
{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}
{% block title %}
    Password
{% endblock %}
{% block css_js %}
    <style>
        body {
            background-image: url("https://images.unsplash.com/photo-1509822929063-6b6cfc9b42f2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
            background-repeat: no-repeat;
            background-size: cover;
        }

        div.container {
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container d-flex flex-column justify-content-center bg-white border rounded my-5 pt-1 px-3 pb-3">
        <div class="col-sm-12">
            <h1 class="card-title">Password reset</h1>
            <form id="loginForm" class="col-12 my-auto needs-validation" method="post"
                  action="{% url 'password_reset' %}"
                  style="opacity: 100%">
                {% csrf_token %}
                <hr/>
                <div class="md-form md-outline">
                    <input type="email" id="newPass" name="email" class="form-control">
                    <label data-error="wrong" data-success="right" for="newPass">Email</label>
                </div>
                <div class="inline-group">
                    <button type="submit" class="btn btn-primary">Send reset link</button>
                </div>
            </form>
            {% if form.errors %}
                <div class="alert alert-danger mt-2">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <strong>{{ error|escape }}</strong>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <strong>{{ error|escape }}</strong>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

