{% extends 'base.html' %}
{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}
{% block title %}
    Edit data
{% endblock %}
{% block css_js %}
    <style>
        body {
            background-image: url("https://images.unsplash.com/photo-1509822929063-6b6cfc9b42f2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
            background-repeat: no-repeat;
            background-size: cover;
        }

        div.container {
        }
    </style>
    <script>
        function show_hide_password(passwordInput, show, hide) {
            if (passwordInput.attr('type') === 'password') {
                show.hide();
                hide.show();
                passwordInput.attr('type', 'text');
            } else {
                show.show();
                hide.hide();
                passwordInput.attr('type', 'password');
            }
        }

    </script>
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="container d-flex flex-column justify-content-center bg-white border rounded my-5 pt-1 px-3 pb-3">
            <div class="col-sm-12">
                <h1 class="card-title">Change password</h1>
                <form id="loginForm" class="col-12 my-auto needs-validation" method="post"
                      action="{% url 'password_change' %}"
                      style="opacity: 100%">
                    {% csrf_token %}
                    <div class="md-form md-outline">
                        <label data-error="wrong" data-success="right" for="oldPass">Old password</label>
                        <input type="password" id="oldPass" name="old_password" class="form-control">
                        {% if form.old_password.errors %}
                            <div class="alert alert-danger mt-2">
                                {% for error in form.old_password.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <hr/>
                    <div class="md-form md-outline">
                        <label data-error="wrong" data-success="right" for="newPass">New password</label>
                        <div class="input-group">
                            <input type="password" id="newPass" name="new_password1" class="form-control" required>
                            <button type="button" class="btn btn-warning"
                                    style=":focus {outline: none;  box-shadow: none;}"
                                    onclick="this.blur(); show_hide_password($('#newPass'),$('#show-icon1'),$('#hide-icon1'));">
                                <svg id="show-icon1" xmlns="http://www.w3.org/2000/svg" width="16"
                                     height="16"
                                     fill="currentColor"
                                     class="bi bi-eye" viewBox="0 0 16 16">
                                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"></path>
                                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"></path>
                                </svg>
                                <svg id="hide-icon1" style="display: none;" xmlns="http://www.w3.org/2000/svg"
                                     width="16"
                                     height="16"
                                     fill="currentColor"
                                     class="bi bi-eye-slash" viewBox="0 0 16 16">
                                    <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"></path>
                                    <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"></path>
                                    <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z"></path>
                                </svg>
                            </button>
                        </div>
                        {% if form.new_password1.errors %}
                            <div class="alert alert-danger mt-2 w-50">
                                {% for error in form.new_password1.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="md-form md-outline">
                        <label data-error="wrong" data-success="right" for="newPassConfirm">Confirm password</label>
                        <div class="input-group">
                            <input type="password" id="newPassConfirm" name="new_password2" class="form-control" required>
                            <button type="button" class="btn btn-warning"
                                    style=":focus {outline: none;  box-shadow: none;}"
                                    onclick="this.blur(); show_hide_password($('#newPassConfirm'),$('#show-icon2'),$('#hide-icon2'));">
                                <svg id="show-icon2" xmlns="http://www.w3.org/2000/svg" width="16"
                                     height="16"
                                     fill="currentColor"
                                     class="bi bi-eye" viewBox="0 0 16 16">
                                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"></path>
                                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"></path>
                                </svg>
                                <svg id="hide-icon2" style="display: none;" xmlns="http://www.w3.org/2000/svg"
                                     width="16"
                                     height="16"
                                     fill="currentColor"
                                     class="bi bi-eye-slash" viewBox="0 0 16 16">
                                    <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"></path>
                                    <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"></path>
                                    <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z"></path>
                                </svg>
                            </button>
                        </div>
                        {% if form.new_password2.errors %}
                            <div class="alert alert-danger mt-2 w-50">
                                {% for error in form.new_password2.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="inline-group pt-2">
                        <button type="submit" class="btn btn-primary ">Change password</button>
                    </div>
                </form>
                {% if form.non_field_errors %}
                    <div class="alert alert-danger mt-2">
                        {% for error in form.non_field_errors %}
                            <strong>{{ error|escape }}</strong>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    {% else %}
        <meta http-equiv="REFRESH" content="0;url={% url 'home' %}">
    {% endif %}
{% endblock %}
