{% extends 'modal-base.html' %}
{% block modal-trigger-widget %}
    <button class="btn btn-outline-success mr-2 my-sm-0" type="button" data-toggle="modal"
            data-target="#{{ modal_id }}">
        <i class="bi bi-check-circle"></i>
        Înregistrare
    </button>
{% endblock %}
{% block modal-header %}
    <h5 class="modal-title" id="exampleModalLongTitle">Înregistrare</h5>
{% endblock %}
{% block modal-body %}
    {% include 'registration/signup.html' %}
{% endblock %}
{% block modal-footer %}
    <button onclick="submitSignup();" class="btn btn-success">Înregistrare</button>
    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Închide</button>
{% endblock %}