<script type="text/javascript">
    google.charts.load('current', {'packages': ['corechart', 'table', 'controls']});
    google.charts.setOnLoadCallback(loading);

    function loading() {
        const data = new google.visualization.arrayToDataTable(
            [
                ['Luna', 'Reciclat', 'Nereciclat', 'Media'],
                ['Ianuarie', 201 + Math.random() * 300, 201 + Math.random() * 300, 201 + Math.random() * 300],
                ['Februarie', 201 + Math.random() * 300, 201 + Math.random() * 300, 201 + Math.random() * 300],
                ['Martie', 201 + Math.random() * 300, 201 + Math.random() * 300, 201 + Math.random() * 300],
                ['Aprilie', 201 + Math.random() * 300, 201 + Math.random() * 300, 201 + Math.random() * 300],
                ['Mai', 201 + Math.random() * 300, 201 + Math.random() * 300, 201 + Math.random() * 300],
                ['Iunie', 201 + Math.random() * 300, 201 + Math.random() * 300, 201 + Math.random() * 300],
                ['Iulie', 201 + Math.random() * 300, 201 + Math.random() * 300, 201 + Math.random() * 300],
                ['August', 201 + Math.random() * 300, 201 + Math.random() * 300, 201 + Math.random() * 300],
                ['Septembrie', 201 + Math.random() * 300, 201 + Math.random() * 300, 201 + Math.random() * 300],
                ['Octombrie', 201 + Math.random() * 300, 201 + Math.random() * 300, 201 + Math.random() * 300],
                ['Noiembrie', 201 + Math.random() * 300, 201 + Math.random() * 300, 201 + Math.random() * 300],
                ['Decembrie', 201 + Math.random() * 300, 201 + Math.random() * 300, 201 + Math.random() * 300],
            ]
        );
        var dashboard = new google.visualization.Dashboard(
            document.getElementById('dashboard_div'));
        drawTable(data);
        $('#tablebtn').on('click', () => {
            drawTable(data);
        })
        $('#columnchartbtn').on('click', () => {
            drawColumnChart(data)
        });
        $('#piechartbtn').on('click', () => {
            drawComboChart(data, dashboard)
        });
        $('#linechartbtn').on('click', () => {
            drawLineChart(data)
        })


    }

    function drawColumnChart(data) {
        var options = {
            title: '{{ type_name }} cantitate(sute kg)',
            height: 700,
            colors: ['#6ceca3', '#fd8a86', '#72daf1']
        };
        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }

    function drawTable(data) {
        var options = {
            title: '{{ type_name }} cantitate(sute kg)',
            showRowNumber: true,
            width: 900,
        }
        var table = new google.visualization.Table(document.getElementById('chart_div'));
        table.draw(data, options);
        google.visualization.events.addListener(table, 'select', selectHandler);

        function selectHandler() {
            var selection = table.getSelection();
            var message = '';
            for (var i = 0; i < selection.length; i++) {
                var item = selection[i];
                if (item.row != null && item.column != null) {
                    var str = data.getFormattedValue(item.row, item.column);
                    message += '{row:' + item.row + ',column:' + item.column + '} = ' + str + '\n';
                } else if (item.row != null) {
                    var str = data.getFormattedValue(item.row, 0);
                    message += '{row:' + item.row + ', column:none}; value (col 0) = ' + str + '\n';
                } else if (item.column != null) {
                    var str = data.getFormattedValue(0, item.column);
                    message += '{row:none, column:' + item.column + '}; value (row 0) = ' + str + '\n';
                }
            }
            if (message == '') {
                message = 'nothing';
            }
            alert('You selected ' + message);
        }
    }

    function drawLineChart(data) {
        var options = {
            title: '{{ type_name }} cantitate(sute kg)',
            hAxis: {
                title: 'Lunile anului'
            },
            vAxis: {
                title: 'Cantitate colectată'
            },
            colors: ['#da9e98', '#95daad', '#8fb3da'],
            height: 700,
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }

    function drawComboChart(data) {
        /*var donutRangeSlider = new google.visualization.ControlWrapper({
          'controlType': 'NumberRangeFilter',
          'containerId': 'filter_div',
          'options': {
            'filterColumnLabel': 'Luna'
          }
        });

        // Create a pie chart, passing some options
        var pieChart = new google.visualization.ChartWrapper({
          chartType: 'ComboChart',
          containerId: 'chart_div',
          options: {
            width: 300,
            height: 300,
            pieSliceText: 'value',
            legend: 'right'
          }
        });

        // Establish dependencies, declaring that 'filter' drives 'pieChart',
        // so that the pie chart will only display entries that are let through
        // given the chosen slider range.
        dashboard.bind(donutRangeSlider, pieChart);

        // Draw the dashboard.
        dashboard.draw(data);*/
        var options = {
            title: '{{ type_name }} cantitate(sute kg)',
            hAxis: {
                title: 'Lunile anului'
            },
            vAxis: {
                title: 'Cantitate colectată'
            },
            seriesType: 'bars',
            series: {2: {type: 'line'}},
            colors: ['#41f594', '#ff645e', '#49b7fc'],
            height: 700,
         };

        var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
</script>
<div class="container">
    <div class="row">
        <div class="col-10"></div>
        <div class="col-2">
            <div class="btn-group btn-group-justified">
                <button class="btn btn-outline-dark bi bi-table" id="tablebtn"></button>
                <button class="btn btn-outline-dark bi bi-bar-chart-line" id="columnchartbtn"></button>
                <button class="btn btn-outline-dark bi bi-pie-chart" id="piechartbtn"></button>
                <button class="btn btn-outline-dark bi bi-graph-up" id="linechartbtn"></button>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="dashboard_div">
            <div id="chart_div"></div>
            <div id="filter_div"></div>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-8"></div>
        <div class="col">
            <div class="btn-group">
                <button class="btn btn-outline-dark" onmouseover="$(this).css('font-weight', 'bold');"
                        onmouseleave="$(this).css('font-weight', 'normal')">
                    <i class="bi bi-box-arrow-up-right"></i>
                    Vizualizează <code>*.csv</code>
                </button>
                <button class="btn btn-outline-dark" onmouseover="$(this).css('font-weight', 'bold');"
                        onmouseleave="$(this).css('font-weight', 'normal')">
                    Descarcă
                    <i class="bi bi-download"></i>
                </button>
            </div>
        </div>
    </div>
</div>
