{% extends 'base.html' %}
{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}
{% block title %}
Adăugare date
{% endblock %}
{% block css_js %}
    <style>
        body {
            background-image: url("https://images.unsplash.com/photo-1483736762161-1d107f3c78e1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80");
            background-size: cover;
            background-repeat: no-repeat;
        }

    </style>
    <script>
        $(document).on('readystatechange', function () {
            $('input').tooltip();
        })
    </script>
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="container d-flex flex-column justify-content-center bg-white border rounded mt-5 p-5">
            <div class="row h-auto">
                <div class="container">
                    <h1 class="card-title">Adăugare date</h1></div>
                {% if message %}
                    <div class="alert alert-{{ type }} container d-flex justify-content-center">
                        <strong>{{ message }}</strong></div>
                {% endif %}
                <form class="col-12" method="post" action="{% url 'insert-data' %}">
                    {% csrf_token %}
                    <input name="user_id" value="{{ request.user.id }}" hidden/>
                    <div class="form-group required">
                        {% for field in form %}
                            <label for="{{ field.auto_id }}">{{ field.label }}{% if field.field.required %}
                                <i style="color: red">*</i>
                            {% endif %}</label>
                            {{ field }}
                            {% if field.errors %}
                                <div class="alert alert-danger mt-2">
                                    {% for error in field.errors %}
                                        <strong>{{ error|escape }}</strong>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="alert alert-info">
                        <p>Câmpurile marcate cu <i style="color: red">*</i> sunt obligatorii.</p>
                    </div>
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger mt-2">
                            {% for error in user_form.non_field_errors %}
                                <strong>{{ error|escape }}</strong>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <button type="submit" class="btn btn-success">Înscrie în baza de date</button>
                    <button type="button" class="btn btn-outline-danger" onclick="location.href='{% url 'home' %}';">
                        Înapoi la principală
                    </button>
                </form>

            </div>
        </div>
    {% endif %}
{% endblock %}
