{% extends 'base.html' %}
{% load static %}
{% block title %}
    Home
{% endblock %}
{% block css_js %}
    <style>
        body {
            background-image: url('{% static 'photo-1611284446314-60a58ac0deb9.jpeg' %}');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
{% endblock %}
{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}
{% block content %}
    <div class="container p-3 my-3 bg-white border"><p>Here are the news!!!</p></div>
{% endblock %}