<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(255,255,255,0.82);">
    <a class="navbar-brand" href="{% url 'home' %}">Monitor deșeuri</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}"><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   onmouseover="$('#list-of-classes-menu').show(200);"
                   onmouseout="$('#list-of-classes-menu').hide();"
                   href="{% url 'show-graph' %}" id="navbarDropdown"
                   role="button">
                    Statistici
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" onmouseover="$(this).show();"
                     onmouseleave="$(this).hide(200);" id="list-of-classes-menu">
                    <a class="dropdown-item text-danger" href="{% url 'graph' 'plastic' %}"><i
                            class="bi bi-graph-up"></i>Evoluția
                        cantității de masă
                        plastică</a>
                    <a class="dropdown-item text-warning" href="{% url 'graph' 'metal-sticla' %}"><i
                            class=" bi bi-graph-up"></i>
                        Evoluția cantității de
                        metal/sticlă</a>
                    <a class="dropdown-item text-success" href="{% url 'graph' 'bio' %}"><i class=" bi bi-graph-up"></i>
                        Evoluția cantității de deșeuri
                        biodegradabile</a>
                </div>
            </li>
            <li class="nav-item text-success">
                <a class="nav-link"
                   href="{% url 'insert-data' %}"
                   role="button">
                    Introduce date
                </a>
            </li>
        </ul>
        <div class="my-2 my-lg-0">
            {% if not user.is_authenticated %}

                <button class="btn btn-outline-primary mr-2 my-sm-0" type="button"
                        onclick="location.href='{% url 'login' %}'">
                    <i class="bi bi-box-arrow-in-right"></i>
                    Autentificare
                </button>
                <button class="btn btn-outline-success mr-2 my-sm-0" type="button"
                        onclick="location.href='{% url 'signup' %}'">
                    <i class="bi bi-check-circle"></i>
                    Înregistrare
                </button>
            {% else %}
                <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user.first_name }} {{ user.last_name }}(
                    <text class="text-success">{{ user.username }}</text>
                    )
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="text-primary dropdown-item" href="{% url 'password_change' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
                            <path fill-rule="evenodd"
                                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"></path>
                        </svg>
                        Edit profile data
                    </a>
                    <a class="text-danger dropdown-item" data-toggle="modal" data-target="#logoutModal"><i
                            class="bi bi-box-arrow-right"></i>Logout</a>
                </div>
                {% include 'registration/logout-modal.html' with modal_id='logoutModal' %}

            {% endif %}
            </div>

        </div>
</nav>